<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap5/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="../img/kolmas-logo-blanco.png" type="image/x-icon">
    <title>Kolmas | Catalogo</title>
</head>

<body>

    <!-- Nav bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../img/kolmas-logo-blanco.png" alt="kolmas accesorios"
                    class="logo-navbar"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./catalogo.html">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Catalogo -->

    <div class="container-width bg-primary p-5 mb-5 mt-5">
        <div class="container">
            <h1 class="text-center text-white">Catálogo</h1>
            <div class="row mb-5 mt-5">
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-auto mb-5">
                        <img src="../img/prod.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Officiis,
                                quae! Cumque architecto est quis. Suscipit?</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                            <a href="#" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/main.js"></script>
</body>

</html>