body {
    overflow-x: hidden;
}

.logo-navbar {
    width: 3.5rem;
    height: 3.5rem;
}

.card {
    width: 18rem;
    max-width: 540px;
}

.pointer {
    cursor: pointer;
}

.administrador {
    display: none;
}

.carrito {
    top: 90vh;
    position: fixed;
    right: 2rem;
    z-index: 1;
}

a {
    text-decoration: none;
}

.card-cat {
    padding: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    transition: all .5s;
}

.categoria {
    transition: all .5s;
    color: white;
}

.categoria:hover {
    color:rgb(0, 0, 0);

    .card-cat {
        padding: 3rem;
        color: black;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(0, 0, 0);
    }

}

.precio {
    display: flex;
}

.containerModal {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 11;

}

.modalCaptura {
    position: relative;
}

.completar {
    background-color: #4bbf73;
}

.img-carousel {
    height: 80vh;
    object-fit: cover;
}

.oferta {
    z-index: 11;
    position: fixed;
    display: flex;
    justify-content: center;
    animation: opacity 2s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}